<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Demo Website</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  <nav>
    <header class="nav-container" role="navigation">
      <ul class="menu">
        <li class="menu-item" id="home-link">Home</li>
        <li class="menu-item" id="about-link">About</li>
        <li class="menu-item" id="contact-link">Contact</li>
      </ul>
    </header>
  </nav>
  <main>
    <section id="home">
      <div class="container">
          <div class="overlay"></div>
          <h1 class="welcome-text">Ya Garib Nawaz</h1>
      </div>
    </section>
    <section id="about">
      <h1 class="heading">
          <span class="heading-text">About</span>
      </h1>
      <div class="content text-center" style="display: block; margin: 0 auto; font-size: 20px;">
        <q style="margin-top: 20px; font-style: italic;">
            Jab main tha, hari nahi, ab hari hai main nahi
          </br>
              Sab andhiyara mit gaya, deepak dikha mahi
        </q>
      </div>
      <div class="content" style="display: block; margin: 0 auto; text-align: left; font-size: 18px;">
        <div class="info">
          Kya aap bhi andhiyare se mukti paana chahte hain? </br>
          <p class="text" style="margin-top: 20px;">
            Jeevan me kabhi na kabhi hum kisi kasht ka saamna karte hain. Kai baar hum ussey aasani se nikal jaate hain lekin kuch aise kasht hote hain jinka saamna karte hue hum hausla haar jaate hain.
          </p>
          <p class="text" style="margin-top: 20px;">
            Agar aap kisi bhi aisi samasya se guzar rahe hain, toh neeche diye gaye mobile number ya email par isey share karein.
          </p>
        </div>
      </div>
    </section>
    <section id="contact">
      <h1 class="heading">
        <span class="heading-text">Contact</span>
      </h1>
      <div class="text-center">
        <p class="text">vivekkalra259@gmail.com</p>
      </div>
      <form action="https://formspree.io/vivekkalra259@gmail.com"
            method="POST">
          <input type="text" name="name">
          <input type="email" name="_replyto">
          <input type="submit" value="Send">
      </form> 
    </section>
  </main>
  <script>

  </script>
</body>
</html>
